# Banco de dados (SQLite local ou Turso remoto)
DATABASE_URL=file:./instance.db

# URL do formulário do Google Forms (Produção)
GOOGLE_FORM_URL_PROD=

# URL do formulário do Google Forms (Staging/Teste)
GOOGLE_FORM_URL_STAGING=